/* PLANT LIBRARY's */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(2, minmax(50px, auto));
    grid-gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .card {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    background-color: #849b6d;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #27360e;
  
      .plant-title {
        color: #dee7d9;
      }
    }
  
    .plant-image {
      img {
        width: 100%; 
        height: 100%; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 0;
      }
    }
  
    .content-container {
      padding: 10px;
      text-align: left;
      color: #27360e;
    }
  
    .plant-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
    color: #27360e;
  }
  
  .show-more-container {
    text-align: center;
    margin-top: 80px;
   
    button {
      font-size: larger;
      background-color: #dee7d9;
      color: #27360e;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      margin-top: 10px;
      padding: 10px;
      font-family: "Lora", serif;
      font-weight: 500;
    }
  
    button:hover{
      background-color:#27360e;
      color: #dee7d9;
    }
  }
  

  