.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-card {
    padding: 20px;
    background-color: #849b6d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .stock-image img {
    width: 100%;
    height: 100%;
  }
  
  .favorites-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .favorites-container h2 {
    margin-top: 0;
  }