body {
  margin: 0;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px; 
}