
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .home-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #849b6d;
  }
  
  .home-page-image img {
    width: 100%;
    height: 100%;
  }
  
  .browse-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .browse-button {
    margin: 10px;
    font-size: medium;
    padding: 10px;
    font-family: "Lora", serif;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .browse-button:hover {
    background-color: #27360e;
    color: #dee7d9;
  }
  
  .home-suggestions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
  }
  
  .home-suggestions-container h1 {
    grid-column: span 3;
    margin-bottom: 20px;
  }
  
  .home-suggestions-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-suggestions-container img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .browse-button {
    margin: 10px;
    font-size: medium;
    padding: 10px;
  }
  
  .spacer {
    height: 100px;
  }