

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    background-color: #dee7d9;
    text-decoration: none;
  }
  
  .login-logout-button {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 6px;
  }
  
  button {
    cursor: pointer;
    color: #27360e;
    border: none;
    background-color: #dee7d9;
    font-family: "Kalnia", serif;
  }
  
  .home-nav {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #27360e;
    font-size: 32px;
  }
  
  .search-nav {
    margin-left: auto;
    margin-right: 20px;
    font-weight: 400;
    color: #27360e;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #556b2f;
  }
  
  .second-nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #27360e;
    color: #dee7d9;
    padding: 10px;
  
    a {
      color: #dee7d9;
    }
    a:hover {
      cursor: pointer;
      font-style: italic;
    }
  }
  