body {
  margin: 0;
  background-color: #dee7d9;
  color: #333;
  font-family: 'Kalnia', serif;
  color: #27360e;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #dee7d9;
  font-size: x-small;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0.5rem;
  width: 100%;
  margin: auto;
  background-color: #dee7d9;
  text-decoration: none;
}


.login-logout-button {
  margin-right: auto; 
  margin-left: 10px;
  margin-top: 6px;
}

button {
  cursor: pointer;
  color: #27360e;
  border: none;
  background-color: #dee7d9;
  font-family:'Kalnia', serif;

}

.home-nav {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
  color: #27360e;
  font-size: 32px;
}

.search-nav {
  margin-left: auto; 
  margin-right: 20px;
  font-weight: 400;
  color: #27360e;
}

input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #556b2f;
  border-radius: 4px;
}

.second-nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #27360e;
  color: #dee7d9;
  padding: 10px;

  a {
    color: #dee7d9;
  }
  a:hover {
    cursor: pointer;
  }
}

/* HOME PAGE */
.home-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #849b6d;
}

.home-page-image img {
  width: 100%;
  height: 100%;
}

.browse-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.browse-button {
  margin: 10px;
  font-size: medium;
  padding: 10px;
}

.browse-button:hover {
  background-color: #27360e;
  color: #dee7d9;
}

.home-suggestions-container {
  border: 4px solid red;
  display: grid;
  grid-template-columns: 3fr 1fr; 
  gap: 20px; 

}


  /* PLANT LIBRARY's */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.plant-link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #849b6d;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #fffbe6;
        color: #333;
    }

    .plant-image {
        img {
            max-width: 100%; 
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
    .content-container {
        padding: 20px;
        margin-left: 10px;
        text-align: left;
        color:#27360e;
    }
    .plant-title{
        font-size: 1.5rem;
        font-weight: 600;
    }

    ul {
        margin-left: 0;
        font-size: .80rem;
        text-align: left;
        list-style: none;
        padding: 0;
    }

}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #27360e;
}

/* DETAILS PAGE */
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .details-card {
    display: flex;
    flex-direction: row;
    background-color: #849b6d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details-plant-image {
    width: 50%;
    padding: 20px;
    
  }
  
  .details-plant-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .details-content-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: #27360e;
  }
  
  .plant-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }

h1 {
    text-align: center;
    margin: 20px 0;
    color: #27360e;
}

/* PROFILE PAGE */

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  background-color: #849b6d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 50%;
  padding: 20px;
}

.profile-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile-details h2,
.profile-details p {
  margin: 0;

}

.profile-details h2 {
  font-size: 1.5em;
  font-weight: bold;

}

.profile-details p {
  font-size: 1.2em;
  color: #fff;
  padding: 20px;

}


/* 
sage green: #dee7d9
dark green: #27360e
medium green: #849b6d
white: #fff

*/