body {
    margin: 0;
    background-color: #f4f4f4; 
    color: #333;
    font-family: Arial, sans-serif;
    background-image: url(/images/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

  html {
    scroll-behavior: smooth;
  }
  
  .footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px; 
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    background-color: #556b2f;
  }

  /* PLANT LIBRARY CSS */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Updated to 2 columns */
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.plant-link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #556b2f;
    color: #fff;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #fffbe6;
        color: #333;
    }

    .plant-image {
        img {
            max-width: 100%; /* Take up the whole left side */
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }

    .content-container {
        padding: 10px;
        margin-left: 10px;
        text-align: left;
    }
    .plant-title{
        font-size: 2rem;
    }

    ul {
        margin-left: 0;
        font-size: 1rem;
        text-align: left;
        list-style: none;
        padding: 0;
    }

}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #556b2f;
}