body {
    margin: 0;
    background-color: #f4f4f4; 
    color: #333;
    font-family: Arial, sans-serif;
    color: #556b2f;
}

  html {
    scroll-behavior: smooth;
  }
  
  .footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px; 
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    background-color: #849b6d;
  }

  /* PLANT LIBRARY's */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.plant-link {
    width: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #849b6d;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #fffbe6;
        color: #333;
    }

    .plant-image {
        img {
            max-width: 100%; 
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
    .content-container {
        padding: 20px;
        margin-left: 10px;
        text-align: left;
        color:#27360e;
    }
    .plant-title{
        font-size: 1.5rem;
        font-weight: 600;
    }

    ul {
        margin-left: 0;
        font-size: .80rem;
        text-align: left;
        list-style: none;
        padding: 0;
    }

}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #556b2f;
}

/* DETAILS PAGE */
.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .details-card {
    display: flex;
    flex-direction: row;
    background-color: #849b6d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .details-plant-image {
    width: 50%;
    padding: 20px;
    
  }
  
  .details-plant-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .details-content-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: #27360e;
  }
  
  .plant-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px; 
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }

h1 {
    text-align: center;
    margin: 20px 0;
    color: #556b2f;
}

/* 
sage green: #849b6d

*/